<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <ul>    
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
               <li><h2>Robot Velocista</h2 ></li> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quam aspernatur, id perferendis obcaecati repellendus consequuntur 
                temporibus aliquid vel autem? Enim aut corporis exercitationem
                repudiandae velit veniam rem ullam hic quidem!
                </p>
            </div>
         <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <a href="https://photos.app.goo.gl/RYR96kVmVmB3hooMA"><img src="../../../assets/proyectos/velocista.png" class="img-fluid img-proyecto"></a>
         </div>
        </ul> 
        <ul>    
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
               <li><h2>Where R U</h2 ></li> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quam aspernatur, id perferendis obcaecati repellendus consequuntur 
                temporibus aliquid vel autem? Enim aut corporis exercitationem
                repudiandae velit veniam rem ullam hic quidem!
                </p>
            </div>
         <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <a href="https://drive.google.com/drive/folders/1CQvayKGtkY276HSfS8HkfAOpzKmycXlY?usp=share_link"><img src="../../../assets/proyectos/WhereRU.png" class="img-fluid img-proyecto"></a>
         </div>
        </ul> 
        <ul>    
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
               <li><h2>Caja Fuerte  </h2 ></li> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quam aspernatur, id perferendis obcaecati repellendus consequuntur 
                temporibus aliquid vel autem? Enim aut corporis exercitationem
                repudiandae velit veniam rem ullam hic quidem!
                </p>
            </div>
         <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <a href="https://drive.google.com/file/d/1lxj-aWpo9yxkqlwpYGr5mau_3I5vCc68/view?usp=sharing"><img src="../../../assets/proyectos/Sin título.png"class="img-fluid img-proyecto"></a>
         </div>
        </ul> 

    </div>
</div>
