<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>secundario</h1> - <h3>(years)</h3> 
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Quas illum autem minima aspernatur corrupti officiis dolore nesciunt porro voluptate,
               dolores praesentium, laborum molestiae hic eos ea repellat asperiores sed ducimus.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Universidad</h1> - <h3>(years)</h3> 
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Quas illum autem minima aspernatur corrupti officiis dolore nesciunt porro voluptate,
               dolores praesentium, laborum molestiae hic eos ea repellat asperiores sed ducimus.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Cursos</h1> - <h3>(years)</h3> 
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Quas illum autem minima aspernatur corrupti officiis dolore nesciunt porro voluptate,
               dolores praesentium, laborum molestiae hic eos ea repellat asperiores sed ducimus.
            </p>
        </ul>
    </div>
</div>