<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Asistente en evento escolar</h1> - <h3>1 dia</h3> 
            </li>
            <p>Participe en el desarrollo del evento, presentando proyectos de electronica y colaborando en la enseñanza de soldadura a jóvenes interesados en la robótica
            </p>
        </ul>
        <ul>
            <li>
                <h1>Censista</h1> - <h3>1 Semana</h3> 
            </li>
            <p>Participé en el censo 2022 de Argentina , como censista. Esta oportunidad me permitió mejorar tanto mi habilidad de comunicación con desconocidos, como la organización y el ingreso de datos 
            </p>
        </ul>
    </div>
</div>