<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/PFP - copia.png" 
        class="img-fluid" id="PFP"> 
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="titulos">
        <h2>- Full Stack Developer Jr</h2>
        <h2>- Ingeniero Electronico</h2>
        <h2>- First Certificate In English: B2</h2>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                At perspiciatis voluptas doloribus! Maiores id repellendus placeat quos vitae aliquam.
                Iure quia quaerat sed a dicta quibusdam natus molestias nam reprehenderit?
            </h3>
        </span>
    </div>
</div>