<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/PFP - copia.png" 
        class="img-fluid" id="PFP"> 
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="titulos">
        <h2>- Full Stack Developer Jr</h2>
        <h2>- Ingeniero Electronico</h2>
        <h2>- First Certificate In English: B2</h2>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <h3>Oriundo de Buenos Aires Argentina, Egresado de la escuela técnica ORT con título
                de Bachillerato con orientación en la ingeniería electrónica, robótica y mecatrónica.
                Actualmente estudiante en la Universidad Tecnológica Nacional en facultad de
                Ingeniería electrónica. Me apasiona la música, la naturaleza y los animales.
                Encuentro mucho interés sobre temas científicos, especialmente los relacionados con la física y el espacio   
            </h3>
        </span>
    </div>
</div>