.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logoAP{

    width: 300px;
}
img{

    width: 80px;
}
.redes{
    margin-right: 1em;
}
#Linkedin
{   
    
    margin-right: 0.5em;
}
#Github
{
    width: 84px;
    margin-right: 0.5em;
}
#Gmail
{
    width: 90px;
    margin-right: 0.5em;
}
#btn
{
    border-width: medium;
}

