<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../..//../assets/Logos proyecto/APLogo.png" id="logoAP">
        </div>

        <div class="redes">
            <div>
                <a href="https://www.linkedin.com/in/manuel-alejandro-botana-455608276/"> <img src="../../../assets/Logos proyecto/linkedin.png" id="Linkedin"></a>
                <a href="https://github.com/Mbotana2112"> <img src="../../../assets/Logos proyecto/25231.png" id="Github"></a>
                <a href="mailto:mbotana2004@gmail.com"> <img src="../../../assets/Logos proyecto/logo_gmail_lockup_default_1x_r5.png" id="Gmail"></a>
                <button type="button" class="btn btn-outline-light" id="btn">Ingresar</button>
            </div>
        </div>
    </div>
</div>

